{% extends 'base.html' %}

{% block title %}
Додати компанію
{% endblock %}

<div class="container mt-5">
    {% block maintext %}
    Додати компанію
    <p>
        <a href="/" class="btn btn-outline-warning">На головну сторінку</a>
    </p>
    {% endblock %}

    {% block body %}
    <form method="post">
        * Обов`язкове поле:
        <input type="text" name="name_of_the_company" id="name_of_the_company" class="form-control{{edit_style}}"
               placeholder="Введіть назву компанії"><br>
        <input type="submit" class="btn btn-success" value="Додати">
    </form>
</div>
{% endblock %}
