<!doctype html>
<html class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.3/examples/sticky-footer/sticky-footer.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
</head>
<body class="d-flex flex-column h-100">
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">{% block maintext %}{% endblock %}</h1>
        {% block body %}{% endblock %}
    </div>
</main>
<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">2021 | Lv-568.2.PythonCore | Serhii Burnashov: Company staff | 28.02.2021-06.03.2021</span>
    </div>
</footer>
</body>
</html>
