{% extends 'base.html' %}

{% block title %}
Редагувати дані спвробітника
{% endblock %}

<div class="container mt-5">
    {% block maintext %}
    Редагувати дані спвробітника
    {% endblock %}

    {% block body %}
    <form method="post">
        <input type="text" name="position" id="position" class="form-control{{edit_style}}" placeholder=" Посада"><br>
        <input type="text" name="name" id="name" class="form-control{{edit_style}}" placeholder="Ім'я"><br>
        <input type="text" name="surname" id="surname" class="form-control" placeholder="Прізвище"><br>
        <input type="text" name="phone_number" id="phone_number" class="form-control{{edit_style}}"
               placeholder="Номер телефону"><br>
        <input type="submit" class="btn btn-success" value="Змінити">
    </form>
</div>
{% endblock %}
